@media screen and (max-width: 1060px) and (min-width:960px) {
	header {
	  height: 60px;
	}


	header a {
		font-size: 12pt ;
		margin: 20px 1% 0 1%;
	}

	div.logo  {
	  height: auto;
	  flex: 3 0 400px;
	}

	div.shadow{
	  position: absolute;
	  left: 20px;
	  top: 100px;
	  padding: 0;
	  width: 360px;
	  height: 600px;

	}
	div.shadow div.iphone{
	  width: 250px;
	  height: 500px;
	  margin-top: 50px;
	  margin-left: 90px;

	}
	div.iphone div.screen {
	  padding-left: 20px;
	   padding-top: 16px;
	}

	div.iphone div.screen2 {
	  width: 185px;
	  height: 450px;
	}

	div.array{
	  margin-left: 3%;

	}


	div.us-cont div.content{
		 font-size: 17pt;
	}

	div.content div.small{
		width: 135px;
		font-size: 14pt;
		
	}

	div.content div.small:nth-child(3){
		  width: 0.5%;
	}

/*VK*/

div.vk-decor{
  left: 78%;
  top: 83%;
  width: 220px;
}

div.vk-decor img{
  width: 220px;
}


div.vk div.left div{
  width: 130px;
  height: 500px;
}


div.vk div.right div.header_vk{
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 25%;
  font-size: 22pt;
}

div.vk div.right div.button {
  width: 23%;
  margin-top: 320px;
  margin-left: 0px

}

div.vk div.right div.logoVK{
  width: 20%;
 height: 800px;

}

div.vk div.right div.string{
  font-size: 14pt;
  width: 45%;

}

div.vk div.right div.stringEl{
  margin-bottom: 40px;
}

div.vk div.right div.stringEl div:nth-child(1){
  margin-right: 30px;
}


div.vk div.right div.stringEl:nth-child(1) div:nth-child(1) {
  width: 220px;
   }
div.vk div.right div.stringEl:nth-child(2) div:nth-child(1) {
  width: 135px;
   } 
div.vk div.right div.stringEl:nth-child(3) div:nth-child(1) {
  width: 240px;
   }   

div.fb{
  height: 900px;

}

div.inst{
  height: 1250px;
  background: url(../img/inst/background.png);
  background-size: cover;
}

button{
  margin-top: 10px;
  background: #f2f6f8; 
    border: 1px solid #7a7b7e;
    height: 80px; 
    border-radius: 20px;
    box-shadow: 10px -5px 0 5px #5a5f98;
    font-size: 18pt;
    color: #5870a8
}

}