body{
  font-family: Montserrat, sans-serif;
  color: #fff;
}

header {
  height: 90px;
  width: 100%;
  background-image: url(https://s22.postimg.cc/6ngc7scfl/image.png);
}

nav{
  display: flex;
  justify-content: space-around;
}



header a {
  display: block;
  margin: 25px 1% 0 1%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 26pt ;
}
header a:hover {
  color: #333;
}

div.us-cont {
  display: flex;
  padding-top: 94px;
  padding-left: 37px;
  background-image: url(https://s22.postimg.cc/hlrlq8gj5/BG-us.png);
  height: auto;

}
div.logo  {
  height: auto;
  flex: 3 0 674px;
}

 div.shadow{
  position: absolute;
  left: 60px;
  top: 110px;
  padding: 0;
  width: 550px;
  height: 880px;
  background: url(../img/us/shadow.png);
  background-size: cover;
}
div.shadow div.iphone{
  width: 394px;
  height: 782px;
  margin-top: 60px;
  margin-left: 140px;
  background: url(../img/us/iphoneX.png);
  background-size: cover;
}

div.iphone div.screen {
  padding-left: 29px;
   padding-top: 20px;
}

div.iphone div.screen2 {
   height: 720px;
   width: 310px;
   padding-left: 28px;
   padding-top: 20px;
   background: url(../img/us/screen.png);
  background-size: cover;
}

div.array{
  margin-left: 6%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 70px;
}

div.array div.arr{
  text-align: center;
}

div.array div.arr:nth-child(1){
  position: relative;
  top: 28px;
}
div.array div.arr:nth-child(2){
  position: relative;
  top: 15px;
}

div.us-cont div.content{
  width: 880px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #fff;
  text-align: left;
  font-family: Montserrat;
  font-size: 24pt;
  flex-grow: 0;
  flex-shrink: 1;

}

div.content div.main {
  margin-bottom: 30px;
  line-height: 1.7;
}

div.content div.small{
  width: 250px;
  height: auto;
  text-align: center;
  font-size: 22pt;
  padding: 0 20px;
  margin: 0;

}

div.content div.small:nth-child(3){
  width: 15%;
}

div.vk-decor{
  width: 280px;
  position: absolute;
  left: 84.8%;
  top: 820px;
}

div.vk-decor img{
  width: 300px;
  height: auto;
}

section.VK_FB_INST{
  height: 3200px;
  background: url(../img/fb/background.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.vk{
  display: flex;
  width: 100%;
  height: 1100px;
  background: url(../img/vk/background.png);
  /*border: 1px dashed red;*/
}

div.vk div.left{
  height: 100%;
  
}

div.vk div.left div{
  width: 200px;
  height: 780px;
  background: url(../img/vk/decor2-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
div.vk div.right{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 95%;
}

div.vk div.right div.header_vk{
  margin-top: 70px;
  margin-left: 320px;
  margin-right: 450px;
  width: 75%;
  height: 150px;
  text-align: center;
  font-size: 36pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

div.vk div.right div.button {
  width: 400px;
  height: 120px;
  margin-top: 320px;
  margin-left: 90px

}

div.vk div.right div.logoVK{
  margin-right: 30px;
  margin-top: 130px;
  width: 350px;
 height: 800px;

}

div.vk div.right div.string{
  display: flex;
  flex-flow: column;
  font-size: 22pt;
  width: 42%;
  margin-top: 85px;
  word-wrap: break-word;

}

div.vk div.right div.stringEl{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
 
 div.vk div.right div.stringEl div {
  align-self: center;
 }

div.vk div.right div.stringEl div:nth-child(1){
  margin-right: 30px;
}


div.vk div.right div.stringEl:nth-child(1) div:nth-child(1) {
  width: 220px;
   }
div.vk div.right div.stringEl:nth-child(2) div:nth-child(1) {
  width: 165px;
   } 
div.vk div.right div.stringEl:nth-child(3) div:nth-child(1) {
  width: 240px;
   }   

div.fb{
  height: 900px;

}

div.inst{
  height: 1250px;
  background: url(../img/inst/background.png);
  background-size: cover;
}

button{
  margin-top: 10px;
  background: #f2f6f8; 
    border: 1px solid #7a7b7e; 
    width: 100%; 
    height: 110px; 
    border-radius: 20px;
    box-shadow: 10px -5px 0 5px #5a5f98;
    font-size: 36pt;
    color: #5870a8
}

img {
    max-width: 100%;
    height: auto;
}